<h1>Deposit</h1>

<form asp-controller="User" asp-action="Deposit" method="post">
    <div class="form-group">
        <label>Amount</label>
        <input class="form-control" type="number" step="0.01" min="0" name="inputAmount" placeholder="0.00"/>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input class="form-control" type="text" name="inputDescription" maxlength="25" placeholder="Paycheck, gift, etc." />
    </div>
    <button class="btn btn-default" type="submit">Deposit</button>
</form>