@{
}

<h1>Welcome to CashSource</h1>

<br />

<h4>The alternate source for online banking!</h4>

<br />

@if (!ViewBag.IsLoggedIn)
{
    <p><a class="btn btn-default" asp-controller="Account" asp-action="Register">Become a Member</a></p>
}