<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">CashSource</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (ViewBag.IsLoggedIn)
                    {
                        <li><a asp-controller="User" asp-action="AccountDetails">My Account</a></li>
                        <li><a asp-controller="User" asp-action="Deposit">Deposit</a></li>
                        <li><a asp-controller="User" asp-action="Withdraw">Withdraw</a></li>
                        <li><a asp-controller="Account" asp-action="Logout">Log Out</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Login">Log In</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                    }
                </ul>
                @if (ViewBag.IsLoggedIn)
                {
                    <p class="navbar-text navbar-right">Logged in as @ViewBag.CurrenUserName</p>
                }
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>